.app {
  display: flex;
  height: 500px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.headings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brush-selection {
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
}

.paint {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.palette {
  display: flex;
  margin-left: -30px;
}

.brush {
  display: flex;
}

.icon {
  width: 30px;
  height: 30px;
}

.current-brush, .palette-color {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.canvas {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  height: 300px;
  width: 300px;
  border: 1px solid black;
  margin: 10px;
}

.square {
  transition: 0.5s;
}

.color-1 {
  background-color: rgba(204, 185, 99, 0.986);
}

.color-2 {
  background-color: darksalmon;
}

.color-3 {
  background-color: darkslategray;
}

.color-4 {
  background-color: rgb(7, 75, 7);
}

.color-5 {
  background-color: rgb(19, 91, 119);
}

.color-6{
 background-color: rgb(99, 138, 59); 
}

.color-7{
  background-color:blanchedalmond ; 
 }

 .color-8{
  background-color: rgb(99, 20, 99); 
 }
 
 .color-9{
  background-color: rgb(146, 104, 25); 
 }
 .color-10{
  background-color: black; 
 }
 
 .dark-mode{
   background-color: black;
   filter: invert(1);
 }

.dark-mode-button{
  background-color: rgb(143, 146, 141);
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
  border-radius: 25px;

 }
